# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret_here

ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=7d

# =========================
# REFRESH COOKIE
# =========================
REFRESH_COOKIE_NAME=refresh_token

COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=Strict

# =========================
# BAKONG
# =========================
BAKONG_API_URL=https://api-bakong.nbc.gov.kh
BAKONG_TOKEN=your_bakong_token_here
BAKONG_ACCOUNT_ID=your_bakong_account_id_here

BAKONG_MERCHANT_NAME=Your Merchant Name
BAKONG_CITY=Phnom Penh